@page
@model HospitalMachine.Pages.AddAndroidUpdateModel
@{
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>    
    <form action="api/update" enctype="multipart/form-data" method="post">
        上传用户：<input type="text" name="username"><br />
        上传版本Code：<input type="text" name="version_code"><br />
        上传版本说明：<input type="text" name="version_description"><br />
        上传文件1：<input type="file" name="file1"><br />
        <input type="submit" value="提交">
    </form>
</body>
</html>